<form [formGroup]="analysisForm" (ngSubmit)="onSubmit(analysisForm.value)">
  <div class="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content">
      <app-header></app-header>
      <div class="container-fluid mb-5">
        <div class="row container-title mb-3">
          <h3>Unternehmensdaten</h3>
        </div>

        <div class="form-row">
          <div class="form-group col-xl-6">
            <div class="card h-100">
              <div class="card-body">
                <label for="companySector">Branche</label>
                <select id="companySector" class="form-control" formControlName="companySector">
                  <option value="trading">Handel</option>
                  <option value="craft">Handwerk</option>
                  <option value="service">Dienstleistung</option>
                  <option value="catering">Gastronomie</option>
                  <option value="building">Baunebengewerbe</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group col-xl-6">
            <div class="card h-100">
              <div class="card-body aligner">
                <div class="aligner-item">
                  <label for="user">Was gibt es in dem Betrieb?</label>
                  <div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Gewerblich genutzte Fahrzeuge</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label" for="customCheck2">Elektronische Anlagen</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label" for="customCheck3">Maschinen</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="checkbox" class="custom-control-input" id="customCheck4">
                      <label class="custom-control-label" for="customCheck4"> Waren</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-xl-6">
            <div class="card h-100">
              <div class="card-body aligner">
                <div class="row aligner-item">
                  <label class="col-sm-9 col-form-label" for="companyStaff">Wie viele Mitarbeiter?</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2"
                      formControlName="companyStaff">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-xl-6">
            <div class="card h-100">
              <div class="card-body aligner">
                <div class="row aligner-item">
                  <label class="col-sm-9 col-form-label" for="user">Eigentümer der Betriebsstätte?</label>
                  <div class="col-sm-3">
                    <div class="text-right">
                      <div class="text-right">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input"
                            checked="">
                          <label class="custom-control-label" for="customRadioInline1">ja</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline2">nein</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-bottom fixed-bottom navbar-light justify-content-end">
    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Speichern</button>
  </nav>
</form>
