<nav class="navbar navbar-top sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="sidebar-header text-center">
      <img class="fixed" src="#" alt="">
    </div>
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-align-justify"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="customers"><i class="fas fa-users"></i> Kunden</a>
        </li>
        <li class="nav-item">
          <a (click)="onSignOut()" style="cursor:pointer" class="nav-link" *ngIf="isAuth"><i class="fas fa-sign-out-alt"></i>
            Abmelden</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
