<div class="login-dark">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="text-center">
      <img src="" alt="">
    </div>
    <h2 class="title"><i class="fa fa-user-plus" aria-hidden="true"></i><br> Registrierung</h2>
    <div class="form-group">
      <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit" [disabled]="signupForm.invalid">speichern</button>
    </div>
    <div class="text-center">
      <a routerLink="../signin">abbrechen</a>
    </div>
    <p class="text-danger">{{ errorMessage }}</p>
  </form>
</div>
