<nav id="sidebar">
  <div class="sidebar-header text-center">
    <img src="https://via.placeholder.com/70" alt="" height="70">
  </div>
  <ul class="list-unstyled components">
    <li class="active">
      <a href="#">Unternehmensdaten</a>
    </li>
    <li>
      <a href="#">Risiken ermitteln</a>
    </li>
  </ul>
  <ul class="list-unstyled components">
    <li>
      <a href="#">Haftungsrisiken</a>
    </li>
    <li>
      <a href="#">Gebäude-Werte</a>
    </li>
    <li>
      <a href="#">Inhalt-Werte</a>
    </li>
    <li>
      <a href="#">Elektronik/Maschinen-Werte</a>
    </li>
    <li>
      <a href="#">Unterbrechung Ihres Betriebes</a>
    </li>
    <li>
      <a href="#">Kosten bei Rechtsangelegenheiten</a>
    </li>
    <li>
      <a href="#">Transporte</a>
    </li>
    <li>
      <a href="#">Kfz-Risiken</a>
    </li>
    <li>
      <a href="#">Offene Punkte und weiteres Vorgehen</a>
    </li>
  </ul>
  <ul class="list-unstyled CTAs">
    <li>
      <a href="#" class="resume"><i class="fas fa-sliders-h"></i> Analyse</a>
    </li>
  </ul>
</nav>
