<div class="login-dark">
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div class="text-center">
      <img src="" alt="">
    </div>
    <h2 class="title"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> Anmeldung</h2>
    <div class="form-group">
      <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit" [disabled]="signinForm.invalid">anmelden</button>
    </div>
    <div class="text-center">
      <a routerLink="../signup">Konto erstellen</a>
    </div>
    <p class="text-danger">{{ errorMessage }}</p>
  </form>
</div>
