<app-header></app-header>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col">
      <h4>Alle Kunden</h4>
    </div>
    <div class="col d-flex justify-content-end">
      <form class="form-inline my-2 my-lg-0">
        <input type="search" placeholder="kunden suchen..." name="search" class="form-control searchbox-input mr-sm-2"
          required="" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" (keyup)="searchByName()">
        <button (click)="newCustomer()" type="button" class="btn btn-success">
          <i class="fas fa-user-plus"></i> Kunde hinzufügen
        </button>
      </form>
    </div>
  </div>
  <div class="line"></div>
  <div class="card-columns user">
    <div class="card" *ngFor="let customer of customers, let i = index">
      <div class="card-header">
        <h5 class="card-title">{{ customer.payload.doc.data().company }}
          <span class="float-sm-right">
            <a (click)="viewDetails(customer)"><i class="fas fa-edit"></i></a>
          </span>
        </h5>
      </div>
      <div class="card-body">
        <strong>Betriebsart:</strong> {{ customer.payload.doc.data().companyType}}
        <p class="card-text"><strong>Ansprechpartner:</strong> {{ customer.payload.doc.data().firstname }} {{
          customer.payload.doc.data().lastname }}</p>
        <address>
          {{ customer.payload.doc.data().street }}<br>
          {{ customer.payload.doc.data().zipcode }} {{ customer.payload.doc.data().city }}<br>
          Tel: {{ customer.payload.doc.data().phone }}<br>
          E-Mail: <a href="mailto:#">{{ customer.payload.doc.data().email }}</a>
        </address>
      </div>
      <div class="card-footer">
        <a (click)="newAnalysis(customer.payload.doc.data().customerId)"><i class="fas fa-edit"></i>Analyse hinzufügen</a>
      </div>
    </div>
  </div>
</div>
