<app-header></app-header>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col">
      <h2>Alle Kunden</h2>
    </div>
    <div class="col d-flex justify-content-end">
      <form class="form-inline my-2 my-lg-0">
        <input type="search" placeholder="kunden suchen..." name="search" class="form-control searchbox-input mr-sm-2"
          required="">
        <button id="btn_add_user" type="button" class="btn btn-success">
          <i class="fas fa-user-plus"></i> Kunde hinzufügen
        </button>
      </form>
    </div>
  </div>
  <div class="line"></div>
  <div class="card-columns user">
    <div class="card" *ngFor="let customer of customers">
      <div class="card-header">
        <h5 class="card-title">{{ customer.company }}
          <span class="float-sm-right">
            <a href="#"><i class="fas fa-edit"></i></a>
          </span>
        </h5>
      </div>
      <div class="card-body">
        <strong>Betriebsart:</strong> {{ customer.companyType}}
        <p class="card-text"><strong>Ansprechpartner:</strong> {{ customer.contact }}</p>
        <address>
          {{ customer.street }}<br>
          {{ customer.zipcode }} {{ customer.city }}<br>
          Tel: {{ customer.phone }}<br>
          E-Mail: <a href="mailto:#">{{ customer.email }}</a>
        </address>
      </div>
    </div>
  </div>
</div>
