<app-header></app-header>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col">
      <h2>Alle Kunden</h2>
    </div>
    <div class="col d-flex justify-content-end">
      <form class="form-inline my-2 my-lg-0">
        <input type="search" placeholder="kunden suchen..." name="search" class="form-control searchbox-input mr-sm-2"
          required="">
        <button id="btn_add_user" type="button" class="btn btn-success">
          <i class="fas fa-user-plus"></i> Kunde hinzufügen
        </button>
      </form>
    </div>
  </div>
  <div class="line"></div>
  <div class="card-columns user">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Heidelberger Druckmaschinen AG
          <span class="float-sm-right">
            <a href="#"><i class="fas fa-edit"></i></a>
          </span>
        </h5>
      </div>
      <div class="card-body">
        <strong>Betriebsart:</strong> Maschinenerstellung
        <p class="card-text"><strong>Ansprechpartner:</strong> Ute Wechsler</p>
        <address>
          Kurfürsten-Anlage 52-60<br>
          69115 Heidelberg<br>
          Tel: 6221 92 00<br>
          E-Mail: <a href="mailto:#">ute.wechsler@heidelberg.de</a>
        </address>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Heidelberger Druckmaschinen AG
          <span class="float-sm-right">
            <a href="#"><i class="fas fa-edit"></i></a>
          </span>
        </h5>
      </div>
      <div class="card-body">
        <strong>Betriebsart:</strong> Maschinenerstellung
        <p class="card-text"><strong>Ansprechpartner:</strong> Ute Wechsler</p>
        <address>
          Kurfürsten-Anlage 52-60<br>
          69115 Heidelberg<br>
          Tel: 6221 92 00<br>
          E-Mail: <a href="mailto:#">ute.wechsler@heidelberg.de</a>
        </address>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Heidelberger Druckmaschinen AG
          <span class="float-sm-right">
            <a href="#"><i class="fas fa-edit"></i></a>
          </span>
        </h5>
      </div>
      <div class="card-body">
        <strong>Betriebsart:</strong> Maschinenerstellung
        <p class="card-text"><strong>Ansprechpartner:</strong> Ute Wechsler</p>
        <address>
          Kurfürsten-Anlage 52-60<br>
          69115 Heidelberg<br>
          Tel: 6221 92 00<br>
          E-Mail: <a href="mailto:#">ute.wechsler@heidelberg.de</a>
        </address>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Heidelberger Druckmaschinen AG
          <span class="float-sm-right">
            <a href="#"><i class="fas fa-edit"></i></a>
          </span>
        </h5>
      </div>
      <div class="card-body">
        <strong>Betriebsart:</strong> Maschinenerstellung
        <p class="card-text"><strong>Ansprechpartner:</strong> Ute Wechsler</p>
        <address>
          Kurfürsten-Anlage 52-60<br>
          69115 Heidelberg<br>
          Tel: 6221 92 00<br>
          E-Mail: <a href="mailto:#">ute.wechsler@heidelberg.de</a>
        </address>
      </div>
    </div>
  </div>
</div>
